<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#"><i class="far fa-calendar-alt"></i> Events</a>
</nav>
<div class="container mt-5 pt-3">
  <div class="row text-center">
    <div class="col">
      <h1>Contador</h1>
      <h2>{{ contador }}</h2>
    </div>
  </div>

  <div class="row text-center">
    <div class="col">
      <button class="btn btn-primary">Aumentar</button>
      <button class="btn btn-info">Disminuir</button>
    </div>
  </div>

</div>